.topnav {
  margin-bottom: 50px;

}

.topnav .search-container {
  float: right;
  max-width: 203px;
  position: relative;
}

.topnav input[type=text] {
  padding: 3px 15px 3px 5px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid #eee;

}

.topnav .search-container button {
    position: absolute;
    padding: 3px 5px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    right: 0;
    top: 9px;
}

.topnav .search-container button:hover {
  background: #ccc;
}
.all_users_sidebar .sidebar_users{
	list-style: none;
	position: fixed;
	top: 64px;
	bottom: 0;
	right: 0;
	background: #fff;
	overflow-x: hidden;
	overflow-y: scroll;
    border-left: 1px solid #ddd;
    padding: 0;
    padding-left: 25px;
    width: 218px;
    box-shadow: 0px 0px 5px #ccc;
}
.all_users_sidebar .user img {
	width: 35px;
}
.sidebar_users > li {
	margin-top: 15px;
}
.sidebar_users .user {
	display: flex;
	align-items: center;
	justify-content: start;
}
.sidebar_user {
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.user .user_img {
    margin-right: 5px;
}
.user .user_name,
.user .user_surname {
	text-decoration: none;
	color: #5F706D;
	text-transform: capitalize;
}
.user_item > a:hover {
    text-decoration: none;
}
